.loader {
  border: 16px solid #900C3F;
  border-radius: 50%;
  border-top: 16px solid  #c70039;
  border-right: 16px solid  #c700a0;
  border-bottom: 16px solid  #ac00c7;
  width: 120px;
  height: 120px;
  animation-duration: 10s;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.blur{
	display:none;
}

.position-loader{
	text-align:center;
	margin:10% 46%;
	
}