<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
 <link rel="icon" href="/images/bank.png">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/menu.css">
<title>Confirmation</title>
</head>
<body>

<h1 class="my-text" style="position:absolute;top:5%;left:41%;">Now you can sing in!</h1>
<div class="text-center">
    <a class="btn btn-primary btn-lg" style="margin-top:150px;" href="/user/login">Go to Login!</a>
  </div>

</body>
</html>