<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Deposit</title>
<link rel="icon" href="/images/bank.png">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" href="/css/deposit.css">
<link rel="stylesheet" href="/css/popups.css">
</head>

<body class="loader position-loader">
   <div class="text-center">
    <a class="btn btn-primary blur" style="margin-top:50px;" href="/menu">Go back Home</a>
  </div>
  
  
  <div class="alert alert-primary myalert blur" style="margin-top:2%;" th:if="${available}" role="limit-alert">
  You can only deposit 500$ at one time!
</div>

<div class="alert alert-warning myalert blur" id="warn-al" style="margin-top:2%;" th:if="${null}" role="null-alert">
  You haven't provided the amount!
</div>

<div class="alert alert-danger myalert blur" style="margin-top:2%;" th:if="${failure}" role="failure-alert">
  <h4>Something went wrong, maybe you provided wrong amount. Try again!</h4>
</div>

<div class="alert alert-success myalert blur" th:if="${success}" style="margin-top:2%;" role="success-alert">
  <h3>Money has been paid on your account succesfully!</h3>
</div>



<div class="deposit-menu blur">


<div class="deposit-header">
<!----- Savings Account Form ------>


<div th:if="${savings}">
  
  <h2>Deposit Savings Account</h2>
 
</div>


<!------- Main Account Form ------->

<div th:if="${main}">


  <h2>Deposit Main Account</h2>
  
</div>

</div>





<div class="deposit-body">
    <h3>How much would you like to deposit?</h3>
 </div>
 
 <div th:if="${main}">
   <form method="POST" th:action="@{/menu/make/mainDeposit}">
    <input type="number" class="deposit-input" min="0" onchange="disError()" name="amount" placeholder="How much">
    <br>
    <button type="submit" id="load-button" class="btn btn-danger btn-lg btnclass">Deposit</button>
  </form>
  
</div>

<div th:if="${savings}">
  <form method="POST" th:action="@{/menu/make/savingsDeposit}">
    <input type="number" class="form-input" name="amount" onchange="disError()" min="0" placeholder="How much">
    <br>
    <button type="submit" id="load-button" class="btn btn-danger btn-lg btnclass">Deposit</button>
  </form>
  
 
</div>

</div>


<script src="/js/loader.js"></script>
<script>

setTimeout(function(){
	$('body').removeClass("loader");
	$('body').removeClass("position-loader");
	$('body').removeAttr("class");
	$('.deposit-menu').removeClass("blur");
	$('a').removeClass("blur");
	$('.alert').removeClass("blur");
	
}, 1000);



</script>

</body>
</html>