<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Not found</title>
<link rel="icon" href="/images/bank.png">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

             

<div class="text-center">
<div class="alert alert-danger" role="alert">
  <h1>We don't have such a request on our site!</h1>
  <br>
<a href="@{/}" class="btn btn-primary">Go Back</a>
</div>


  <img src="/images/error.png" class="img-fluid" alt="Responsive image">
</div>

</body>
</html>