<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/top">
 
</head>
<body>

<div id="con-menu">

    <div th:replace="/common/sidebar"></div>
    
    <div class="con-menu-cards">
       <div id="user-menu">
  
     
      
         <div class="user-details">
           <h1>User Details</h1>
					<form method="POST">
					
					  <div class="form-group">
					    <label for="firstName">First Name</label>
						  <input class="form-control" type="text"  th:value="${userName}" placeholder="First name" readonly>
					  </div>
					  <div class="form-group">
					    <label for="lastName">Last Name</label>
						  <input class="form-control" type="text"  th:value="${lastName}" placeholder="Last name" readonly>
					  </div>
					   <div class="form-group">
					    <label for="phoneNumber">Phone number</label>
						  <input class="form-control" type="text" th:value="${phone}" placeholder="Last name" readonly>
					  </div>
						<div class="form-group">
							<label for="email">Email address</label> 
							<input type="email" class="form-control" th:value="${email}" aria-describedby="emailHelp" placeholder="Email" readonly>
							<small id="emailHelp" class="form-text text-muted">We'll
								never share your email with anyone else.</small>
						</div>

                      <div class="form-group">
					    <label for="mainNumb">Main Account Number</label>
						  <input class="form-control" type="text" th:value="${mainNumber}" placeholder="Account number" readonly>
					  </div>
                   
                       <div class="form-group">
					    <label for="savNumb">Savings Account Number</label>
						  <input class="form-control" type="text" th:value="${savNumber}" placeholder="Account number" readonly>
					  </div>
                   
                   <button type="submit" class="btn btn-success btn-lg">Update Details</button>
					</form>
					<br>
					<button class="btn btn-warning btn-lg" id="change-button">Change Details</button>

				</div>
      
      

     </div>
     
     
    </div>
    
 </div>
 
 
 <script src="/js/loader.js"></script>
</body>
</html>